[data-md-color-scheme="default"] {
  --md-primary-fg-color: #ee0000;
  --md-accent-fg-color: #a30000;
}

[data-md-color-scheme="slate"] {
  --md-primary-fg-color: #ee0000;
  --md-accent-fg-color: #ff6060;
}
